[package]
name = "cc-quadstat"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
terminal_size = "0.4"

[profile.release]
opt-level = "z"
lto = true
strip = true
